* {
  box-sizing: border-box;
}

button,input {
outline: none;
border: none;
}

//file manager style
.fm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  z-index: -1;
  opacity: 0;
  &.open {
    background: rgba(0,0,0,.5);
    z-index: 99999;
    opacity: 1;
    .fm-wrapper {
        transform:translateY(0);
    }
    &.hide {
        background: rgba(0,0,0,0); 
        .fm-wrapper {
            transform:translateY(-1500px);
        }
    }
}
  &-bottom {
    justify-content: space-between;
    border-top: 1px solid #ededed;
    padding-top: 25px;
    margin-top: 25px;
    display: flex;
    button {
      width: 150px;
      height: 48px;
      background: #2a5db0;
      color: #fff;
      font-size: 15px;
      border-radius: 9px;
      cursor: pointer;
      &.button-cancel {
        background: #888888;
      }
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;  
    background-color: #fff;
    transition: all 0.3s ease;
    padding: 15px;
    transition: transform .5s ease-in;
    transform:translateY(-1500px);
    .loader {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255,255,255,0.5);
    }
  }

  &-top {
    border-bottom: 1px solid #ededed;
    min-height: 45px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    .btn-close {
      width: 35px;
      height: 35px;
      background: transparent;
      border:none;
      outline:none;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
    }
    &__upload {
      width: 165px;
    }
    &__add {
      display: none;
      margin-left: 15px;
      height: 40px;
      button {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
  }

  &-content {
    display: flex;
    overflow: auto;
    height: calc(100% - 134px);
    position: relative;
    &__folders {
        min-width: 350px;
        height: 100%;
        overflow: auto;
        width: auto;
        border-right: 1px solid #ededed;
        padding: 15px;
        .tree {
          padding-left: 0;
          list-style: none;
          &__children {
            padding-left: 15px;
            list-style: none;
            height: 0;
            overflow: hidden;
            margin-top: 0;
            width: 100%;
          }
          li {
            position: relative;
            margin-bottom: 10px;
            border: 1px solid #ededed;
            padding: 5px;
            &:last-child {
              margin-bottom: 0; 
            }
            .folder-item {
              height: 30px;
              display: flex;
              align-items: center;
              position: relative;
              overflow: hidden;
              .fm-item__input {
                display: none;
              }
              &.active {
                .folder-item__name {
                  font-weight: 700;

                }
                &:hover {
                  .folder-action {
                    transform: translateX(0);
                  }
                }
              }
              &__name {
                max-width: 250px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
                cursor: pointer;
                align-items: center;
              }
              &.edit {
                .folder-item__name {
                  display: none;
                }
                .fm-item__input {
                  display: flex;
                }
              }
            }
            .nesting {
              cursor: pointer;
              &:before {
                content:'+';
                position: absolute;
                left: -15px;
                top: 8px;
                font-size: 20px;
              }
            }
            &.show > span.nesting {
              &:before {
                content:'-';
              }
            }
            &.show > ul.tree__children  {
              height: 100%;
              margin-top: 10px;
            }
          }
          .folder-action {
            position: absolute;
            height: 100%;
            width: 51%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(237, 237, 237, 0.9);
            top: 0;
            right: 0;
            padding: 5px;
            transform: translateX(100%);
            transition: .3s;
            button {
              background: transparent;
              height: 100%;
              width: 25px;
              cursor: pointer;
              // margin-left: 5px;
              padding: 0;
              transition: .3s;
              &:hover {
                background: #d7d7d7;
              }
            }
            img {
              height: 100%;
              width: 20px;
            }
          }
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        overflow: auto;
        padding: 15px;
        flex-grow: 1;
    }
  }
  &-item {
    width: 150px;
    margin-right: 25px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
    img {
      margin-bottom: 10px;
      width: 100%;
      object-fit: contain;
      &.file {
        width: 158px;
      }
    }
    &:hover {
      .fm-item__menu {
        transform: translateY(0);
      }
    }
    &__img {
      &_main {
        height: 100px;
      }
      &_menu {
        height: 100%;
      }
    }
    &__title {
      max-width: 100%;
      // text-overflow: ellipsis;
      // overflow: hidden;
      // white-space: nowrap;
      text-align: center;
    }
    &__btn {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
      button {
        cursor: pointer;
        padding: 5px;
      }
      &_folder {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
        height: 100%;
        width: 22%;
        button {
          width: 25px;
          height: 25px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &__input {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      input {
        border: 1px solid #ededed;
        margin-bottom: 5px;
        padding: 5px;
        width: 100%;
      }
      &_folder {
        position: relative;
        height: 100%;
        input {
          margin-bottom: 0;
          height: 100%;
          padding-right: 58px;
        }
      }
    }
    &__menu {
      position: absolute;
      width: 100%;
      height: 35px;
      background: rgba(237, 237, 237,.9);
      display: flex;
      justify-content: flex-end;
      top: 0;
      left: 0;
      padding: 5px;
      transform: translateY(-100%);
      transition: .3s;
      button {
        cursor: pointer;
        background: transparent;
        border: none;
        width: 40px;
        height: 100%;
        margin-left: 5px;
        transition: .3s;
        img {
          margin-bottom: 0;
        }
        &:hover {
          background: #d7d7d7;
        }
      }
    }
    &.edit {
      .fm-item__input {
        display: flex;
      }
      .fm-item__title {
        display: none;
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &.active {
      border: 1px solid #e0dede;
      padding: 5px;
      border-radius: 5px;
      &:before {
        position: absolute;
        content:'';
        width: 25px;
        height: 25px;
        right: 5px;
        top: 5px;
      }
    }
  }
  &-spinner {
    position: absolute;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    display: flex;
    left:0;
    top:0;
    align-items: center;
    justify-content: center;
    background: rgba(234, 234, 234, .3);
  }
  .search-form {
    max-width: 500px;
    transition: 0.3s;
    overflow: hidden;
  
    &__wrapper {
      position: relative;
      width: 100%;
  
      input {
        width: 100%;
        height: 46px;
        background: rgba(118, 118, 118, 0.16);
        border-radius: 12px;
        border: none;
        box-sizing: border-box;
        padding: 0 100px 0 20px;
        padding: 0 20px 0 20px;
        font-size: 18px;
  
        &::placeholder {
          font-size: 18px;
          color: #000;
        }
      }
  
      button {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 45px;
        height: 42px;
        background: #2A5DB0;
        color: #fff;
        font-size: 15px;
        border-radius: 9px;
        transition: 0.3s;
        padding-bottom: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 4px;
        width: 95px;
        cursor: pointer;
      }
    }
  }

  .node-wrapper {
    margin-bottom: 15px;
    img {
      width: 100%;
    }
    input {
      border: 1px solid #d2d2d2;
      padding: 15px;
      width: 400px;
      border-radius: 5px;
      margin-bottom: 25px;
    }
  }
  .upload {
    cursor: pointer;
    &__input {
      display: none;
    }
  }
}

//node wrapper style
.node-wrapper {
display: flex;
flex-direction: column;
align-items: center;
margin: 15px 0;
padding-right: 35px;
button, audio {
  width: 100%;
}
img {
  margin-bottom: 15px;
  width: 100%;
}
  // input {
  //   border: 1px solid #d2d2d2;
  //   padding: 15px;
  //   width: 100%;
  //   border-radius: 5px;
  //   // margin-bottom: 25px;
  // }
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #2a5db0;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
